html, body {
  margin: 0;
  padding: 0;
}

.App main {
  padding: 0;
}

.App nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}

.App nav ul li {
  margin: 1rem;
}

.App nav ul li a {
  color: inherit;
  text-decoration: none;
}

@media(min-width: 800px) {
  .App main {
    padding: 1rem;
  }
}