.card {
  --height: 4rem; /* meant to be overriden with the style="--height: 123px;" attribute */
  --ratio: calc(7 / 12);

  display: inline-block;
  position: relative;

  border: 2px solid #c7c7c7;
  border-radius: 8px;
  /* box-shadow: 2px 2px 2px 2px #000000; */

  padding: 1em;

  /* card ratio is 7 * 12 */

  width: calc(var(--height) * var(--ratio));
  height: var(--height);

  font-size: calc(var(--height) / 10);
  text-align: center;
}

.card > span {
  font-size: 3em;
  line-height: var(--height);
}


.card > i {
  position: absolute;
  margin: .5em;
}
.card > i:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.card > i:last-child {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

/* https://www.heropatterns.com/ */
.card.hideout {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.13'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.selectable-card-container {
  display: inline-block;
  position: relative;
  transition: all .2s;
  z-index: 1;
}
.selectable-card-container:hover {
  z-index: 2;
  transform: scale(1.2);
}
.selectable-card-container input {
  position: absolute;
  left: -10000px;
}
.selectable-card-container input:checked + .card {
  border: 2px solid black;
}

.card.placeholder {
  border-style: dashed;
}